# Discord Channel IDs
mail_channel_id = 739137691681030197
# host:port
imap_host = "imap.gmail.com:993"
# AUTH for both imap & smtp
user = "test@gmail.com"
passwd = "password123@"
# Discord Bot Token
token = "NzM3NzU5NjI1NTE2MTU1MDEw............"
